:root {
  /* fonts */
  --heading-ff-ss-1: 'Raleway', sans-serif;
  --heading-ff-ss-2: 'Montserrat', sans-serif;
  --heading-ff-ss-3: 'Quicksand', sans-serif;
  --heading-ff-ss-4: 'Nunito', sans-serif;
  --heading-ff-s-1: 'Lora', serif;
  --heading-ff-s-2: 'Playfair Display', serif;
  --heading-ff-s-3: 'Old Standard TT', serif;

  --main-ff-ss-1: 'Lato', sans-serif;
  --main-ff-ss-2: 'Open Sans', sans-serif;
  --main-ff-ss-3: 'Roboto', sans-serif;


  /* colors */
  --yellow: #FFDB62;
  --yellow-lighter: #FFE691;
  --orange: #FDA354;
  --red: #E85668;
  --pink: #F98F9D;
  --blue: #59A8ED;
  --blue-lighter: #9BD8EB;
  --purple: #C584E8;
  --green: #60D195;
  --green-darker: #56BC86;
  --brown: #937254;
  --brown-darker: #85674C;

  --p-gray: #7E949B;
  --p-green: #93D179;
  --p-blue: #5C70DA;
  --p-red: #F08367;
  --p-blue-lighter: #A5E6E4;
  --p-gray-lighter: #D2D2D2;
  --p-beige: #EECA9E;

  --ski-blue-lighter: #64c3d8;
  --ski-blue-darker: #053e68;

  --almost-white-lighter: #FCFCFC;
  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --gray-lightest: #F0F0F0;
  --almost-black: #282828;


  /* sizes */
  --space: 1rem;


  /* font-weights */
  --light: 300;
  --regular: 400;
  --bold: 700;
  --black: 900;


  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-border: border 0.5s ease-in-out;


  /* box-shadows */
  --smooth-light-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.24);
  --smooth-lighter-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.15);
  --smooth-dark-shadow: 0 1.5rem 2rem rgba(0,0,0,0.3), 0 0 2rem rgba(0,0,0,0.1);
  --smooth-big-dark-shadow: 0 4px 100px var(--almost-white), 0 4px 100px rgba(0,0,0,0.5);
}





* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--almost-white-lighter);
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

header {
  width: 100vw;
  margin-top: calc(var(--space)*5);
  padding: 5rem 0 2.5rem 0;
  position: relative;
  top: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: transparent;
}

nav {
  width: 100vw;
  margin-top: calc(var(--space)*5);
  padding-bottom: calc(var(--space)*0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* border-bottom: 0.1rem solid #ccc; */
  background: transparent;
  font-family: var(--main-ff-ss-1);
  font-size: 4vw;
  font-weight: var(--regular);
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
}

nav ul {
  font-weight: bold;
}

nav ul li a {
  font-size: inherit;
  color: inherit;
  transition: var(--smooth);
}

main {
  width: 100vw;
  margin-top: calc(var(--space)*5);
  padding: calc(var(--space)*4) 0 calc(var(--space)*4) 0;
  border-top: 0.2rem solid var(--ski-blue-lighter);
  background: transparent;
}

main > div {
  border: 1px solid cyan;
}

footer {
  width: 100vw;
  margin-top: calc(var(--space)*20);
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: var(--gray-lighter);
  font-family: var(--main-ff-ss-1);
  font-size: 4vw;
  font-weight: var(--regular);
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
}




h2 {
  padding-bottom: calc(var(--space)*0.5);
  border-bottom: 0.1rem solid #ccc;
  font-family: var(--main-ff-ss-1);
  font-size: 1.3vw;
  font-weight: var(--regular);
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
}










/*------------------------ CLASSES ------------------------*/
.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border: 1px solid transparent;
}

.wrapper-footer {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: var(--gray-lighter);
}





.header-logo {
  width: auto;
  height: auto;
  border: 1px solid transparent;
}

.header-nav {
  height: calc(var(--space)*3);
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  font-family: var(--main-ff-ss-1);
  font-size: 2vw;
  font-weight: var(--regular);
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
}

ul,
.header-nav ul {
  list-style-type: none;
}

 ul li,
.header-nav ul li {
  display: inline;
  margin: 0 4rem 0 0;
  /* color: var(--ski-blue-darker); */
}

.header-nav ul li:last-child {
  margin-right: calc(var(--space)*4)
}

.header-nav form input {
  text-transform: uppercase;
}

.header-nav img {
  height: calc(var(--space)*1.5);
}





.main-nav {
  width: 90%;
  padding: calc(var(--space)*2) 0 calc(var(--space)*2) 0;
  background: transparent;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  font-size: 2.2vw;
  transition: var(--smooth);
}

/*
.main-nav ul {
  list-style-image: url('icons/next.svg');
}

.main-nav ul li a::before {
  content: "";
  display: inline;
  background: url('icons/next.svg') no-repeat;
  width: 20px;
  height: 20px;
  margin: 0;
}
*/

.main-nav ul li,
.footer-nav ul li {
  border-bottom: 0.1rem solid var(--almost-black);
  cursor: default;
  font-weight: normal;
}

.main-nav ul li a:hover,
.footer-nav ul li a:hover {
  color: inherit;
}

.main-nav-content,
.footer-nav-content {
  margin: 0 calc(var(--space)*4) 0 0;
  border: 1px solid transparent;
  transition: var(--smooth);
}

.main-nav-content ul,
.footer-nav-content ul {
  font-size: inherit;
}

.secondary-ul {
  margin-left: calc(var(--space)*2);
  list-style-type: circle;
  font-size: 2.2vw;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.secondary-ul li::first-letter {
  text-transform: uppercase;
}

.secondary-ul a {
  color: inherit;
}





.main-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}





.shortcuts {
  width: 20%;
  margin-right: calc(var(--space)*4);
  font-family: var(--main-ff-ss-1);
  font-size: 3.8vw;
  font-weight: var(--regular);
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
}

.shortcuts ul {
  list-style-type: circle;
}

.shortcuts ul li {
  display: block;
  text-transform: capitalize;
}

/*
.shortcuts ul li::before {
  content: "–";
}
*/

.shortcuts ul li::first-letter {
  text-transform: uppercase;
}

.shortcuts ul li a {
  color: inherit;
  transition: var(--smooth);
}

.shortcuts ul li a:hover {
  color: var(--ski-blue-lighter);
}





.news {
  width: 60%;
  margin-right: calc(var(--space)*4);
}





.calendar {
  width: 20%;
  font-family: var(--main-ff-ss-1);
  font-weight: var(--regular);
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
}

.calendar-content {
  width: 100%;
  margin-top: var(--space);
  padding: calc(var(--space)*1.2);
  display: grid;

  /* rows | cols */
  grid-template: repeat(7, 1fr) / 1fr 3fr;
  background: var(--almost-white);
  border: 1px solid transparent;
  box-shadow: var(--smooth-light-shadow);
}

.calendar-date {
  /* row-start | col-start | row-end | col-end */
  grid-area: auto / auto / span 1 / span 1;
  padding: calc(var(--space)*2) var(--space) var(--space) var(--space);
  background: transparent;
  border-bottom: 0.1rem solid var(--gray-lighter);
  font-size: 2vw;
  text-align: center;
  line-height: calc(var(--space)*2.5);
}

.calendar-date span {
  font-size: 0.7vw;
  text-align: center;
  text-transform: capitalize;
}

.calendar-event {
  grid-area: auto / auto / span 1 / span 1;
  padding: calc(var(--space)*2) var(--space) var(--space) var(--space);
  background: transparent;
  border-bottom: 0.1rem solid var(--gray-lighter);
  font-size: 0.8vw;
}

.calendar-event::first-letter {
  text-transform: uppercase;
}

.calendar-event a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

.first {
  padding: var(--space);
}

.last {
  border: none;
}





/*
.footer-contact {
  padding: var(--space);
  border: 1px solid blue;
  font-family: var(--main-ff-ss-1);
  font-size: 2vw;
  font-weight: var(--regular);
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
}
*/

.footer-nav {
  width: 90%;
  padding: calc(var(--space)*2) 0 calc(var(--space)*2) 0;
  background: transparent;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  font-size: 2.2vw;
  transition: var(--smooth);
}

.footer-nav-content ul li {
  font-size: 1vw;
}

.footer-nav-content ul li a {
  color: inherit;
}

.footer-nav-content ol {
  list-style-type: none;
  margin: var(--space) 0 0 0;
  font-size: 1.3vw;
}

.footer-nav-content ol li a {
  font-size: inherit;
  font-style: italic;
}

.footer-nav-content ol li span {
  color: transparent;
}










/*------------------------ IDs ------------------------*/
#mainNav {
  cursor: pointer;
}

#uprogram,
#aktuelt,
#forElever,
#omOss {
  display: none;
}
